.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Adiciona um espaço superior para separar a navbar dos conteúdos */
  }
  
  .settings-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Define um limite de largura para a área de conteúdo */
    padding: 20px;
    gap: 20px; /* Adiciona um espaço entre os dois componentes */
  }
  
  @media (max-width: 768px) {
    .settings-content {
      flex-direction: column;
      align-items: center;
    }
  }
  